@model BlogApp.Models.User

@{
    ViewBag.Title = "ModifyorDelete";
}

<div class="row">

    <div class="col-lg-5">


        @using (Html.BeginForm("ModifyorDelete", "User", FormMethod.Post))
        {
            <h4>Modify or delete a user</h4>
            <hr />
            <p>Title: @Html.TextBox("searchString") 
                <br />
                
                <input type="submit" value="Search" class="btn btn-primary" />
            </p>
            <hr />
            <div class="form-group">
                 @Html.LabelFor(m => m.Name)
                 @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                 @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                 @Html.LabelFor(m => m.Surname)
                 @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                 @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                 @Html.LabelFor(m => m.Username)
                 @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                 @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                 @Html.LabelFor(m => m.Email)
                 @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                 @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                 @Html.LabelFor(m => m.Password)
                 @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                 @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PicturePath)
                @Html.TextBoxFor(m => m.PicturePath, null, new { type="file", @class="input-file" })
            </div>
           @* 
           <div class="form-group">
                @Html.Label("Role");
                
            </div>*@
            
            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-primary" /> 
            </div>
            
        }
    </div>    
</div>
<div class=" row">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>


