@model BlogApp.Models.Article

@{
    ViewBag.Title = "ArticleView";
}

<div class="row">
    <div class="col-lg-12 blog-main">
        <div class="blog-post">
            <h2 class="blog-post-title">@Html.DisplayFor(x => x.Name)</h2>
            <p class="blog-post-meta">
                @Html.DisplayFor(x => @Model.ModificationdDate) by @Html.ActionLink(@Model.Author.Username, "list", "article", new { Id = @Model.AuthorId }, null)
            </p>
            @if (Model.PicturePath != null && Model.PicturePath.Equals(String.Empty))
            {
                @Html.Partial("_AlignBottom", Model);
            }
            else
            {
                if (Model.Layout == BlogApp.Models.ArticleLayout.Bottom || Model.Layout == BlogApp.Models.ArticleLayout.NoPicture)
                {
                    @Html.Partial("_AlignBottom", Model);
                }
                if (Model.Layout == BlogApp.Models.ArticleLayout.Top)
                {
                    @Html.Partial("_AlignTop", Model);
                }
                if (Model.Layout == BlogApp.Models.ArticleLayout.Left)
                {
                    @Html.Partial("_AlignLeft", Model);
                }
            }
            <hr />
        </div>
    </div>
</div>
@if(((BlogApp.Models.User)Session["Login"]).Roles.Any(r => r.Type == BlogApp.Models.RoleType.Blogger))
{
    <div class="row comment-row" style="margin-top:20px">
        <div class="col-lg-12 blog-main">
            @using (Html.BeginForm("CommentArticle", "Article", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="Text">Comment this article</label>

                    @Html.TextArea("Text", "", new { @class = "form-control", rows = 3 })
                    @Html.Hidden("ArticleId", Model.Id)
                </div>
                <input type="submit" value="Comment" class="btn btn-default" />
            }
        </div>
    </div>
}
<div class="row comment-row">
    <div class="col-lg-12 blog-main">
        @foreach (var comment in Model.Comments)
        {
            @Html.Partial("_Comment", comment);
        }
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        function Toggle(id,element) {
            $(id).toggle("fast");

            if (element) {
                var el = $(element);
                el.text() == el.data("text-swap")
                ? el.text(el.data("text-original"))
                : el.text(el.data("text-swap"));
            }

            
        }
    </script>
}
