@model BlogApp.Web.Models.RegisterArticleViewModel

@{
    ViewBag.Title = "CreateArticle";
}

<h2>CreateArticle</h2>

<div class="row">
    @using (Html.BeginForm(Model.PostAction, "Article", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl, enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Article.Name)
            @Html.TextBoxFor(m => m.Article.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Article.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.Label("Content")
            @Html.TextAreaFor(m => m.Article.Text, new { @class = "form-control", rows = 5, columns = 2 })
            @Html.ValidationMessageFor(m => m.Article.Text, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Article.Type):
           <div class="btn-group" data-toggle="buttons">
               <label class="btn btn-primary active">
                   <input type="radio" name="Public" id="1" checked>
                   Public 
               </label>
               <label class="btn btn-primary">
                   <input type="radio" name="Private">
                   Private
               </label>
           </div>
        </div>
    
        <div class="form-group">
            @Html.LabelFor(m => m.Article.Layout):
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" name="Layout" id="1" autocomplete="off" checked>
                None 
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="Layout" id="2" autocomplete="off">
                Top
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="Layout" id="3" autocomplete="off">
                Left
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="Layout" id="4" autocomplete="off">
                Bottom
            </label>
        </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Article.PicturePath)
            @Html.TextBox("image", null, new { type = "file", accept = "image/*", @class = "input-file" })
            @if (@Model.Article != null && @Model.Article.PicturePath != null && !@Model.Article.PicturePath.Equals(String.Empty))
                {
                    <img src="@Url.Content(Model.Article.PicturePath)" alt="Article Picture"/>
                }
        </div>
        <br />
        <div class="form-group">
            <input type="submit" name="Confirm" value="Confirm" class="btn btn-primary" />
            @if (!Model.EditMode)
            {
                <div class="form-group">
                    <p class="text-right">
                        <input type="submit" name="Import" value="Import article" class="btn btn-primary">
                    </p>
                </div>
            }
        </div>
        }
</div>

<div class=" row">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>
