@model BlogApp.Web.Models.RegisterArticleViewModel

@{
    ViewBag.Title = @Model.Title;
}

<h2>@Model.Title</h2>

<div class="row">
    @using (Html.BeginForm(Model.PostAction, "Article", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Article.Name)
            @Html.TextBoxFor(m => m.Article.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Article.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.Label("Content")
            @Html.TextAreaFor(m => m.Article.Text, new { @class = "form-control", rows = 12, columns = 2 })
            @Html.ValidationMessageFor(m => m.Article.Text, "", new { @class = "text-danger" })
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.Article.Type):
           <div class="btn-group" data-toggle="buttons">
               <label class="btn btn-primary @(@Model.Article.Type == BlogApp.Models.ArticleType.Public ? "active" : "")">
                   @Html.RadioButtonFor(m => m.Article.Type, (int)BlogApp.Models.ArticleType.Public, Model.Article.Type == BlogApp.Models.ArticleType.Public ? new { @checked = "checked" } : null)
                   Public
               </label>
               <label class="btn btn-primary @(@Model.Article.Type == BlogApp.Models.ArticleType.Private ? "active" : "")">
                   @Html.RadioButtonFor(m => m.Article.Type, (int)BlogApp.Models.ArticleType.Private, Model.Article.Type == BlogApp.Models.ArticleType.Private ? new { @checked = "checked" } : null)
                   Private
               </label>
           </div>
        </div>
       
        <div class="form-group">
            @Html.LabelFor(m => m.Article.Layout):
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary @(@Model.Article.Layout == BlogApp.Models.ArticleLayout.NoPicture ? "active" : "")">
                @Html.RadioButtonFor(m => m.Article.Layout, (int)BlogApp.Models.ArticleLayout.NoPicture, Model.Article.Layout == BlogApp.Models.ArticleLayout.NoPicture ? new { @checked = "checked" } : null)
                None
            </label>
            <label class="btn btn-primary @(@Model.Article.Layout == BlogApp.Models.ArticleLayout.Top ? "active" : "")">
                @Html.RadioButtonFor(m => m.Article.Layout, (int)BlogApp.Models.ArticleLayout.Top, Model.Article.Layout == BlogApp.Models.ArticleLayout.Top ? new { @checked = "checked" } : null)
                Top
            </label>
            <label class="btn btn-primary @(@Model.Article.Layout == BlogApp.Models.ArticleLayout.Bottom ? "active" : "")">
                @Html.RadioButtonFor(m => m.Article.Layout, (int)BlogApp.Models.ArticleLayout.Bottom, Model.Article.Layout == BlogApp.Models.ArticleLayout.Bottom ? new { @checked = "checked" } : null)
                Botom
            </label>
            <label class="btn btn-primary @(@Model.Article.Layout == BlogApp.Models.ArticleLayout.Left ? "active" : "")">
                @Html.RadioButtonFor(m => m.Article.Layout, (int)BlogApp.Models.ArticleLayout.Left, Model.Article.Layout == BlogApp.Models.ArticleLayout.Left ? new { @checked = "checked" } : null)
                Left
            </label>
        </div>
        </div>
        <div class="form-group">
            @Html.Label("Picture")
            @Html.TextBox("image", null, new { type = "file", accept = "image/*", @class = "input-file" })
            <br />
            @if (@Model.Article != null && @Model.Article.PicturePath != null && !@Model.Article.PicturePath.Equals(String.Empty))
                {
                    <img src="@Url.Content(Model.Article.PicturePath)" alt="Article Picture" style="height:200px"/>
                }
        </div>
        <br />
        <div class="form-group">
            <input type="submit" name="Confirm" value="Confirm" class="btn btn-primary" />
            @if (!Model.EditMode)
            {
                <div class="form-group">
                    <p class="text-right">
                        <input type="submit" name="Import" value="Import article" class="btn btn-primary">
                    </p>
                </div>
            }
            
            @Html.HiddenFor(m=>m.Article.Id)
            @Html.HiddenFor(m=>m.EditMode)
            @Html.HiddenFor(m =>m.Title)
            @Html.HiddenFor(m => m.PostAction)
        </div>
        }
</div>

<div class=" row">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>
