@model BlogApp.Web.Models.ReportAdminViewModel

@{
    ViewBag.Title = "QueryRankingMostActive";
}

<h2>Ranking: Most active users</h2>
<div class="row">
    @using (Html.BeginForm("QueryRankingMostActive", "Report", FormMethod.Get))
    {

        @Html.LabelFor(x => x.FromDate)
        @Html.TextBoxFor(x => x.FromDate, new { Id = "datepickerFrom" });
        @Html.ValidationMessageFor(x => x.FromDate)

        @Html.LabelFor(x => x.ToDate)
        @Html.TextBoxFor(x => x.ToDate, new {Id = "datepickerTo" })
        @Html.ValidationMessageFor(x => x.ToDate)

        <button type="submit">OK</button>
    }
</div>
@if (Model != null)
{
    <div class="row">
        <table class="table table-hover" id="queryTable">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var u in Model.MostActives)
                {
                    <tr>
                        <td>@Html.DisplayFor(x => u.Item1.Username)</td>
                        <td>@Html.DisplayFor(x => u.Item2)</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/dataTables")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#queryTable').DataTable({ "bLengthChange": false, "bInfo": false });
            $('#datepickerFrom').datepicker();
            $('#datepickerTo').datepicker();

        });
    </script>
}